In [13]:
# Heroes of Pymoli
# By: Jack Cohen

# Import Dependencies and Setup
import pandas as pd

# File to Load
file = 'Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)

In [14]:
# Player Count
player_list = purchase_data.SN.unique()
total_num_players = len(player_list)
print(f"There are {total_num_players} total players.")
player = pd.DataFrame([{'Total Players':total_num_players}])
player

There are 576 total players.

   Total Players
0            576

In [3]:
# Purchasing Analysis
num_unique_items = purchase_data["Item ID"].value_counts().count()
genders = purchase_data.Gender.unique()
avg_price = round(purchase_data["Price"].mean(),2)
num_purchases = purchase_data["SN"].count()
total_rev = purchase_data["Price"].sum()
data_summary = pd.DataFrame([{" ":"Value","Number of Unique Items":num_unique_items,
                "Average Price ($)":avg_price,
                "Number of Purchases":num_purchases,
                "Total Revenue ($)":total_rev}])
data_summary.style.format({"Average Price ($)":'${0:,.2f}',"Total Revenue ($)":'${0:,.2f}'}).hide_index()

In [4]:
# Gender Demographics
no_dups = purchase_data.drop_duplicates(subset=["SN"])
SN_Gender = no_dups[["SN","Gender"]]
SN_Gender = SN_Gender.groupby("Gender").count()
percent_gender = [100*SN_Gender.iloc[:,0][0]/total_num_players,
                  100*SN_Gender.iloc[:,0][1]/total_num_players,
                  100*SN_Gender.iloc[:,0][2]/total_num_players]
SN_Gender.insert(1,"Percentage of Players",percent_gender)
SN_Gender.rename(columns={"SN":"Total Count"},inplace=True)

In [5]:
SN_Gender.style.format({"Percentage of Players":"{0:,.2f}%"})

In [6]:
# Purchasing Analysis (Gender)
all_genders = purchase_data.Gender.unique()
gender_df = purchase_data.groupby("Gender")
purchase_count = gender_df['Gender'].count()
average_price = gender_df.mean()["Price"]
total_purchase_val = purchase_count*average_price
avg_tot_purchase_per_person = total_purchase_val/SN_Gender["Total Count"]

In [7]:
gender_summary = pd.DataFrame({
                               "Purchase Count":purchase_count,
                               "Average Purchase Price":list(average_price),
                               "Total Purchase Value":list(total_purchase_val),
                               "Avg Total Purchase per Person":list(avg_tot_purchase_per_person)
                              })
gender_summary = gender_summary.style.format({"Average Purchase Price":'${0:,.2f}',
                            "Total Purchase Value":'${0:,.2f}',
                            "Avg Total Purchase per Person":'${0:,.2f}'})
gender_summary

In [8]:
# Age Demographics
age_bins = [0,9,14,19,24,29,34,39,200]
age_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
age_sorted = pd.cut(no_dups['Age'],age_bins, labels=age_labels).value_counts()
percent_age = 100*age_sorted[age_labels]/total_num_players
age_summary = pd.DataFrame({"":age_labels,
                          "Total Count":list(age_sorted[age_labels]),
                          "Percentage of Players":list(percent_age)
                           })
age_summary = age_summary.style.format({"Percentage of Players":'{0:,.2f}%'}).hide_index()
age_summary

In [9]:
# Purchasing Analysis (Age)
age_analysis = purchase_data
age_analysis = age_analysis.drop(columns=["SN","Gender","Item ID","Item Name","Purchase ID"])
age_analysis["Age Range"] = pd.cut(purchase_data['Age'],age_bins, labels=age_labels)
age_sorts = age_analysis.groupby("Age Range")
purchase_count_age = age_sorts["Age"].count()
avg_purch_price_age = age_sorts["Price"].mean()
total_purch_val_age = age_sorts["Price"].sum()
avg_tot_purch_per_person_age = total_purch_val_age / age_sorted[age_labels]
age_purchasing_df = pd.DataFrame({'Purchase Count':purchase_count_age,
                                  'Average Purchase Price':avg_purch_price_age,
                                  'Total Purchase Value':total_purch_val_age,
                                  'Avg Total Purchase per Person':avg_tot_purch_per_person_age})
age_purchasing_df = age_purchasing_df.style.format({"Average Purchase Price":'${0:,.2f}',
                            "Total Purchase Value":'${0:,.2f}',
                            "Avg Total Purchase per Person":'${0:,.2f}'})

age_purchasing_df

In [10]:
# Top Spenders
SN_sorted = purchase_data.groupby("SN")
SN_purch_count = SN_sorted["SN"].count()
SN_avg_pp = SN_sorted['Price'].mean()
SN_tot_purch_vol = SN_sorted['Price'].sum()
SN_summary_df = pd.DataFrame({'Purchase Count':SN_purch_count,
                              'Average Purchase Price':SN_avg_pp,
                              'Total Purchase Value':SN_tot_purch_vol})
SN_summary_df = SN_summary_df.sort_values(by='Total Purchase Value',axis=0,ascending=False)
SN_head = SN_summary_df.head()
SN_head.style.format({'Average Purchase Price':'${0:,.2f}',
                      'Total Purchase Value':'${0:,.2f}'})

In [11]:
# Most Popular Items
popular_items_df = purchase_data[['Item ID','Item Name','Price']]
pop_main = popular_items_df.groupby(['Item ID','Item Name'])
item_prices = popular_items_df.drop_duplicates(subset='Item Name')['Price']
pop_purch_count = pop_main.count()['Price']
pop_item_price = pop_main.mean()['Price']
pop_total_val = pop_main.sum()['Price']
pop_summary = pd.DataFrame({'Purchase Count':pop_purch_count,
                           'Item Price':pop_item_price,
                           'Total Purchase Value':pop_total_val})
pop_summary_count_sorted = pop_summary.sort_values(by='Purchase Count',axis=0,ascending=False)
pop_head_count = pop_summary_count_sorted.head()
pop_head_count.style.format({'Item Price':'${0:,.2f}',
                      'Total Purchase Value':'${0:,.2f}'})

In [12]:
# Most Profitable Items
pop_summary_value_sorted = pop_summary.sort_values(by='Total Purchase Value',axis=0,ascending=False)
pop_head_value = pop_summary_value_sorted.head()
pop_head_value.style.format({'Item Price':'${0:,.2f}',
                      'Total Purchase Value':'${0:,.2f}'})