In [194]:
# Import Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file = 'Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [195]:
# Player Count
player_list = purchase_data.SN.unique()
total_num_players = len(player_list)
print(f"There are {total_num_players} total players.")

There are 576 total players.

In [386]:
# Purchasing Analysis
num_unique_items = purchase_data["Item ID"].value_counts().count()
genders = purchase_data.Gender.unique()
avg_price = round(purchase_data["Price"].mean(),2)
num_purchases = purchase_data["SN"].count()
total_rev = purchase_data["Price"].sum()
data_summary = pd.DataFrame([{" ":"Value","Number of Unique Items":num_unique_items,
                "Average Price ($)":avg_price,
                "Number of Purchases":num_purchases,
                "Total Revenue ($)":total_rev}])
data_summary.style.format({"Average Price ($)":'${0:,.2f}',"Total Revenue ($)":'${0:,.2f}'}).hide_index()

In [410]:
# Gender Demographics
SN_Gender = purchase_data[["SN","Gender"]].drop_duplicates(subset=["SN"])
SN_Gender = SN_Gender.groupby("Gender").count()
percent_gender = [100*SN_Gender.iloc[:,0][0]/total_num_players,
                  100*SN_Gender.iloc[:,0][1]/total_num_players,
                  100*SN_Gender.iloc[:,0][2]/total_num_players]
SN_Gender.insert(1,"Percentage of Players",percent_gender)
SN_Gender.rename(columns={"SN":"Total Count"},inplace=True)

In [411]:
SN_Gender.style.format({"Percentage of Players":"{0:,.2f}%"})

In [412]:
# Purchasing Analysis (Gender)
gender_df = purchase_data.groupby("Gender")
purchase_count = gender_df.count()["Purchase ID"]
average_price = gender_df.mean()["Price"]
total_purchase_val = purchase_count*average_price
avg_tot_purchase_per_person = total_purchase_val/SN_Gender["Total Count"]

In [418]:
list(genders).sort()
gender_summary = pd.DataFrame({"Gender":genders,
                               "Purchase Count":list(purchase_count),
                               "Average Purchase Price":list(average_price),
                               "Total Purchase Value":list(total_purchase_val),
                               "Avg Total Purchase per Person":list(avg_tot_purchase_per_person)
                              })
gender_summary = gender_summary.style.format({"Average Purchase Price":'${0:,.2f}',
                            "Total Purchase Value":'${0:,.2f}',
                            "Avg Total Purchase per Person":'${0:,.2f}'}).hide_index()
gender_summary

In [419]:
# Age Demographics